/* unicorn{
   
    width: 100vw;
	height:90vh;
	/* background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../img/THE-BROKEN-HEARTS-GALLERY.jpg'); 
    background-repeat: no-repeat;
    background-size: 100%;
}*/

.unicorn .corn{
	width: 100vw;
	height: 80vh;
	
} 
.unicorn{
	background:url('../main.jpg');
    width: 100%;
	height:90%;
	background-size: cover;
	background-position:fixed;
	position: relative;
	background-attachment: fixed;
    text-align: left;
    display: flex;
	
}
.navbar-brand{
	font-family: cursive;
    color: white;
    background-color: black;
    margin-left: 390px;
    font-size: xxx-large;
	
}
.navbar{
	background-color: black;
}
.navbar-toggler{
	background-color: white;
}
.navbar-nav{
background-color: white;
}

h1{
	TEXT-ALIGN: center;
    COLOR: WHITE;
    padding: 25px;
    font-size: 70px;
}
h2{
	FONT-SIZE: 29PX;
	padding:43px;
}
  